<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/exam</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <mapping resource="com/zeng/dao/CapuserEntity.hbm.xml"/>
    <mapping class="com.zeng.dao.CapuserEntity"/>
    <mapping class="com.zeng.dao.ClassinfoEntity"/>
    <mapping resource="com/zeng/dao/ClassinfoEntity.hbm.xml"/>
    <mapping resource="com/zeng/dao/GradeinfoEntity.hbm.xml"/>
    <mapping class="com.zeng.dao.GradeinfoEntity"/>
    <mapping class="com.zeng.dao.StudentinfoEntity"/>
    <mapping resource="com/zeng/dao/StudentinfoEntity.hbm.xml"/>
    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>